/* name at the top  */
.brand-logo {
    position: relative;
    top: 220px;
    left: 330px;
    font-family: 'Signika', sans-serif;
    font-size: 50px;
    overflow: auto;
    color: white !important;
    /* text-shadow: 1.8px 1.8px #858585; */
}

.my-title {
    position: relative;
    top: 260px;
    left: 330px;
    font-family: 'Signika', sans-serif;
    font-size: 20px;
    overflow: auto;
    color: white !important;
}

/* text of carousel and phone  */
.container {
    color: white;
    font-family: 'Signika', sans-serif;
    font-size: 20px;
}

/* header */
nav.nav-extended .nav-wrapper {
    min-height: 600px;
}
/* header and footer  */
.nav-wrapper,
.page-footer {
    background-color: #ee6e73;
    color: white;
    font-family: 'Signika', sans-serif;
    font-size: 24px;
    /* text-shadow: .9px .9px #858585; */
}

/* footer */
#footer {
    min-height: 70px;
}

/* carousel with projects */
#carousel-section {
    background-color: #ee6e73;
}

/* bottom bottom footer */
.footer-copyright {
    background-color: #ee6e73;
}

/* all links  */
a {
    color: white;
    font-family: 'Signika', sans-serif;
    font-size: 18px;
}

/* about me section  */
.card {
    background-color: #ee6e73;
    color: white;
    font-family: 'Signika', sans-serif;
    font-size: 20px;
    top: 25px;
    padding: 30px;
    margin: 30px;
    text-align: center;
}

/* title of about me  */
.card-title {
    font-size: 22px;
}

/* project title  */
h2 {
    margin-top: -5px;
}

/* container for about me  */
.about-me {
    background-color: white;
    margin-bottom: -20px;
}

/* picture of me */
.selfie {
    border-radius: 30%;
    max-width: 45%;
    max-height: 45%;
    position: relative;
    left: 60px;
    top: 65px;
}

.repoLinks:hover {
    color: white;
}

/* container for connect area  */
.parallax-container {
    height: 200px;
    background-color: white;
}

/* styling for connect text */
.contact-info {
    text-align: center;
    padding: 20px 0px 0px 0px;
    color: #ee6e73;
    font-family: 'Signika', sans-serif;
    background-color: white;
    /* text-shadow: .8px .8px #858585; */
}

/* connect heading size */
.contact-head {
    font-size: 30px
}

/* icon styling  */
.fa-github, .fa-linkedin, .fa-envelope-open, .fa-phone-square {
    padding: 5px;
    font-size: 40px;
    color: #ee6e73;
}

/* icon hover */
.fa-github:hover, .fa-linkedin:hover, .fa-envelope-open:hover, .fa-phone-square:hover {
    color: #ee6e73;
}

/* media queries  */

@media only screen and (min-width: 0px) and (max-width: 420) {
    .carousel, .carousel-item>img {
        height: 200px;
    }
    .carousel-item {
        padding: 0px 10px;
    }
    .selfie {
        position: relative;
        left: 20px;
        top: 65px;
        max-width: 20%;
        max-height: 20%;
    }
    .brand-logo {
        position: relative;
        top: 200px;
        left: -30px;   
    }
    .my-title {
        position: relative;
        top: 240px;
        left: -1430px;
    }
}

@media only screen and (min-width: 421px) and (max-width: 471px) {
    .carousel, .carousel-item>img {
        height: 200px;
    }
    .carousel-item {
        padding: 0px 30px;
    }
}

@media only screen and (min-width: 471px) and (max-width: 500px) {
    .carousel, .carousel-item>img {
        height: 200px;
    }
    .carousel-item {
        padding: 0px 45px;
    }
}



@media only screen and (min-width: 0px) and (max-width: 380px) {
    .selfie {
        position: relative;
        left: 70px;
        top: 235px;
        max-width: 60%;
        max-height: 60%;
    }
    .brand-logo {
        position: relative;
        top: 50px;
        left: 50px;
        text-align: center;
    }
    .my-title {
        position: relative;
        top: 160px;
        left: 50px;
        text-align: center;
    }
}

@media only screen and (min-width: 381px) and (max-width: 450px) {
    .selfie {
        position: relative;
        left: 70px;
        top: 235px;
        max-width: 60%;
        max-height: 60%;
    }
    .brand-logo {
        position: relative;
        top: 70px;
        left: 70px;
        text-align: center;
    }
    .my-title {
        position: relative;
        top: 160px;
        left: 70px;
        text-align: center;
    }
}

@media only screen and (min-width: 451px) and (max-width: 502px) {
    .selfie {
        position: relative;
        left: 70px;
        top: 235px;
        max-width: 60%;
        max-height: 60%;
    }
    .brand-logo {
        position: relative;
        top: 70px;
        left: 70px;
        text-align: center;
    }
    .my-title {
        position: relative;
        top: 150px;
        left: 70px;
        text-align: center;
    }
}

@media only screen and (min-width: 503px) and (max-width: 550px) {
    .selfie {
        position: relative;
        left: 100px;
        top: 200px;
        max-width: 60%;
        max-height: 60%;
    }
    .brand-logo {
        position: relative;
        top: 70px;
        left: 70px;
        text-align: center;
    }
    .my-title {
        position: relative;
        top: 150px;
        left: 130px;
        text-align: center;
    }
}

@media only screen and (min-width: 551px) and (max-width: 700px) {
    .selfie {
        position: relative;
        left: 150px;
        top: 200px;
        max-width: 50%;
        max-height: 50%;
    }
    .brand-logo {
        position: relative;
        top: 70px;
        left: 70px;
        text-align: center;
    }
    .my-title {
        position: relative;
        top: 115px;
        left: 155px;
        text-align: center;
    }
}

@media only screen and (min-width: 701px) and (max-width: 900px) {
    .selfie {
        position: relative;
        left: 210px;
        top: 180px;
        max-width: 40%;
        max-height: 40%;
    }
    .brand-logo {
        position: relative;
        top: 80px;
        left: 70px;
        text-align: center;
    }
    .my-title {
        position: relative;
        top: 130px;
        left: 300px;
        text-align: center;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1154px) {
    .selfie {
        position: relative;
        left: 200px;
        top: 180px;
        max-width: 35%;
        max-height: 35%;
    }
    .brand-logo {
        position: relative;
        top: 90px;
        left: 330px;   
    }
    .my-title {
        position: relative;
        top: 130px;
        left: 330px;
    }
}

@media only screen and (min-width: 1154px) and (max-width: 1234px) {
    .selfie {
        position: relative;
        left: 250px;
        top: 65px;
        max-width: 35%;
        max-height: 35%;
    }
    .brand-logo {
        position: relative;
        top: 200px;
        left: 330px;   
    }
    .my-title {
        position: relative;
        top: 240px;
        left: 330px;
    }
}

@media only screen and (min-width: 1234px) and (max-width: 1350px) {
    .selfie {
        position: relative;
        left: 180px;
        top: 65px;
        max-width: 40%;
        max-height: 40%;
    }
    .brand-logo {
        position: relative;
        top: 200px;
        left: 330px;    
    }
    .my-title {
        position: relative;
        top: 240px;
        left: 330px;    
    }
}

@media only screen and (min-width: 1450px) and (max-width: 1640px) {
    .selfie {
        position: relative;
        left: 100px;
        top: 65px;
        max-width: 45%;
        max-height: 45%;
    }
    .brand-logo {
        position: relative;
        top: 200px;
        left: 350px;    
    }
    .my-title {
        position: relative;
        top: 240px;
        left: 350px;    
    }
}

@media only screen and (min-width: 1640px) and (max-width: 2318px) {
    .selfie {
        position: relative;
        left: 0px;
        top: 65px;
        max-width: 45%;
        max-height: 45%;
    }
    .brand-logo {
        position: relative;
        top: 200px;
        left: 550px;    
    }
    .my-title {
        position: relative;
        top: 240px;
        left: 550px;    
    }
}